/*resert*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: solid 1px;
    color: blue;
}

.menu.navbar-collapse {
    flex-grow: 0;
}

.menu-ul {
    background-color: rgb(157, 186, 153);
}

.nav-item :hover {
    background-color: blue;
}

.navbar-brand img {
    width: 150px;
    height: 150px;
}

body {
    font-family: "Kanit", sans-serif;
    background-color: white;
}

h1 {
    color: rgb(27, 27, 172);
    background-color: rgb(157, 186, 153);
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

p {
    color: blue;
    font-size: larger;
    margin: 30px;
}

.subtitulo {
    color: rgb(82, 122, 76);
    background: rgb(113, 184, 234);
}

/*no me anda bien */
.grid-galeria div {
    display: grid;
    /*no me anda bien por las medidas aca */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    /* gap: 1rem; */
    margin: 1rem;
    justify-content: center;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: center;
}

footer {
    font-style: italic;
    color: blue;
    background-color: rgb(117, 181, 119);
    text-align: center;
}

.telefono {
    display: inline;
}

@media screen and (max-width: 1024px) {
    .grid-galeria div {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 768px) {
    .grid-galeria div {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

/*estilos para pag contacto*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/local-comercial.jpg);
    border-radius: 5%;
    background-size: cover;
    background-position: center center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: rgb(117, 181, 119);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

/*estilos para mapa*/
.map-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

/*estilos para pag servicios*/

ul li {
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}

.carousel-item img {
    width: auto;
    height: auto;
}

.ol,
ul {
    padding: 2rem;
}