ul li {
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}

.carousel-item img {
    max-height: 350px;
    width: auto;
    margin: 0 auto; 
    display: block; 
}


.listado {
    padding: 2rem;
}